<nav style="background-color: #18453B; padding: 1em;">
    <a href="/" style="color: #FFFFFF; font-size: 24px; text-decoration: none;">
      Bioinformatics Core
    </a>
    <div style="float: right;">
      <a href="/" style="color: #FFFFFF; margin-right: 20px; text-decoration: none;">Home</a>
      <a href="/about" style="color: #FFFFFF; margin-right: 20px; text-decoration: none;">About</a>
      <a href="/projects" style="color: #FFFFFF; margin-right: 20px; text-decoration: none;">Projects</a>
      <a href="/pipelines" style="color: #FFFFFF; margin-right: 20px; text-decoration: none;">Pipelines</a>
      <a href="/contact" style="color: #FFFFFF; text-decoration: none;">Contact</a>
    </div>
  </nav>
  
