/* Link styles */
a:link, a:visited {
    color: green;
    text-decoration: underline; /* Add underline if desired */
}

/* Optional: Change color on hover */
a:hover, a:active {
    color: darkgreen;
}

.code-container {
  position: relative;
}

.copy-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 3px;
}

pre {
  position: relative; /* Ensure the button is positioned relative to the code block */
  padding-top: 2.5em;
}
